
<section class="box ">
    @foreach (var item in ViewBag.listaMetas)
    {
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="r4_counter db_box ">
                <i class="fa fa-thumbs-down icon-md text-danger"></i>
                <i class="fa fa-thumbs-up icon-md text-success"></i>
                <span>New Orders</span>
            </div>
        </div>
    }
</section>
