/*inputs*/
#modalDividirPeriodoProd .group-controls input {
    padding: 6px 12px;
    width: 200px;
    /*margin-right: 3px;*/
}
/*botoes com os icones mais e menos*/
#modalDividirPeriodoProd .group-controls .btn-incon {
    padding: 6px 5px;
    border: none;
    background: #eeeeee;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
/*datetime exibidos na tabela*/
#modalDividirPeriodoProd .dataTopHora {
    font-size: 12px;
}
