@{
    string maquina = (ViewBag.maquina == null) ? string.Empty : ViewBag.maquina;
    string op = (ViewBag.op == null) ? string.Empty : ViewBag.op;
    string pedido = (ViewBag.pedido == null) ? string.Empty : ViewBag.pedido;
    string descricao = (ViewBag.descricao == null) ? string.Empty : ViewBag.descricao;
}

<div class="form-section">
    <h4 class="form-section-title">Produção</h4>
    <div class="responsive-info">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="title">Maquina</div>
                <div class="desc">@maquina</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title">OP</div>
                <div class="desc">@op</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title">Pedido</div>
                <div class="desc">@pedido</div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="title">Produto</div>
                <div class="desc">@descricao</div>
            </div>
        </div>
    </div>
</div>


