@model DynamicForms.Models.T_Usuario
@{
    ViewData["Title"] = "ReportUsuario";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Romaneio</title>
</head>
<body>
    <h2>Usuário Logado</h2>
    <h4>Nome: @Model.USE_NOME</h4>
</body>
</html>

