@model DynamicForms.Models.T_Usuario
@{
    ViewBag.Title = "Index";
    Layout = "";
}
<html lang="pt-br">
<head>
    <meta charset="utf-8">

    <title>Index</title>
</head>

<body>
    <ul>
        <li><a href="ApontamentoCaixasEAcessorios">Apontamento de Caixas e Acessórios</a></li>
        <li><a href="ApontamentoChapas">Apontamento de Chapas</a></li>
        <li><a href="Enderecamento">Enderecamento</a></li>
        <li><a href="Romaneio">Romaneio</a></li>
        <li><a href="ApontamentoPerdasNaProducao">Apontamento Perdas na Producao</a></li>
    </ul>

    <a href="../Acesso/LogoffColetor">Logout</a>
</body>
</html>