
@{
    ViewData["Title"] = "Documentos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string[] nameArquivos = ViewBag.nameArquivos as string[];
    string[] pathArquivos = ViewBag.pathArquivos as string[];
}


@section Styles { 
    <style>

        .list-arquivos a {
            color: rgba(118, 118, 118, 1.0);
        }

    </style>
}

@section Scripts {
    
}

<h2>Documentos</h2>

<div>
    @if (ViewBag.erro != null)
    {
        <br />
        <br />
        <span style="font-size: 20px; font-weight: bold;">
             Atenção
            <i style="font-size: 25px;" class="fa fa-exclamation" aria-hidden="true"></i>
        </span>
        <p>@ViewBag.erro</p>
    }
    else
    {
        <ul style="list-style-type: none; padding-left: 15px">
            @for (int i = 0; i < nameArquivos.Length; i++)
            {
                <li class="list-arquivos">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <a onclick="openFile('@pathArquivos[i]')" href="#">@nameArquivos[i]</a>
                </li>
            }
        </ul>
    }
</div>
